// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        prev_tab: prev_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RGUI>
                , <&macro_press &kp RSHIFT>
                , <&macro_tap &kp LBKT>
                , <&macro_release &kp RGUI>
                , <&macro_release &kp RSHIFT>;
        };

        next_tab: next_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RGUI>
                , <&macro_press &kp RSHIFT>
                , <&macro_tap &kp RBKT>
                , <&macro_release &kp RGUI>
                , <&macro_release &kp RSHIFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ENTER    │
            &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp ENTER
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ CTRL     │ ALT      │ GUI      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp RCTRL  &kp RALT   &kp RGUI
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                      &lt 1 DEL   &mt LSHIFT TAB       &kp SPACE  &lt 2 BSPC
        //                          ╰───────────┴────────────────╯   ╰──────────┴────────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  +       │  1 !     │  2 @     │  3 #     │  *       │   │  ` ~     │          │  [ {     │  ] }     │  \ |     │
            &kp PLUS   &kp N1     &kp N2     &kp N3     &kp STAR       &kp GRAVE  &none      &kp LBKT   &kp RBKT   &kp BSLH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  - _     │  4 $     │  5 %     │  6 ^     │  / ?     │   │  - _     │  = +     │  ; :     │  ' "     │          │
            &kp MINUS  &kp N4     &kp N5     &kp N6     &kp FSLH       &kp MINUS  &kp EQUAL  &kp SEMI   &kp SQT    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  . >     │  7 &     │  8 *     │  9 (     │  0 )     │   │  (       │  )       │  , <     │  . >     │  / ?     │
            &kp DOT    &kp N7     &kp N8     &kp N9     &kp N0         &kp LPAR   &kp RPAR   &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │  F1      │  F2      │  F3      │  F4      │   │  PG UP   │  HOME    │  UP      │  END     │  PG DN   │
            &kp ESC    &kp F1     &kp F2     &kp F3     &kp F4         &kp PG_UP  &kp HOME   &kp UARW   &kp END    &kp PG_DN
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  CAPS    │  F5      │  F6      │  F7      │  F8      │   │          │  LEFT    │  DOWN    │  RIGHT   │          │
            &kp CAPS   &kp F5     &kp F6     &kp F7     &kp F8         &prev_tab  &kp LARW   &kp DARW   &kp RARW   &next_tab
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  F9      │  F10     │  VOLDN   │  VOLUP   │   │          │          │          │          │          │
            &trans     &kp F9     &kp F10 &kp C_VOL_DN &kp C_VOL_UP    &kp TAB   &kp RSHIFT  &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &kp RSHIFT   &trans
        //                                 ╰──────────┴──────────╯   ╰────────────┴─────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
